
/*********************************************************
CHECKOUT
**********************************************************/

/* Checkout Steps */
ul.checkoutSteps { float: left; clear: both; width: 100%; margin: 0; list-style: none; margin: 0 0 1px 0; background: #eee; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; position: absolute; left: 0; bottom: 0; }
ul.checkoutSteps li { background: #cceaf0;width: 17.8%; padding: 1%; float: left; border-top: 1px solid #fff; border-left: 1px solid #fff;border-right:1px solid #ccc; border-bottom: 1px solid #fff;}
ul.checkoutSteps li.last {border-right: none;}
ul.checkoutSteps li.step1 {border-left:none;}
ul.checkoutSteps li a {text-decoration: none;}
ul.checkoutSteps li.active { background: #8ed6e5; color:#fff;
/*Verlauf*/
background: -moz-linear-gradient(top, #8ed6e5 0%, #43a8bc 50%, #389cb4 51%, #44b6d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed6e5), color-stop(50%,#43a8bc), color-stop(51%,#389cb4), color-stop(100%,#44b6d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8ed6e5 0%,#43a8bc 50%,#389cb4 51%,#44b6d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8ed6e5 0%,#43a8bc 50%,#389cb4 51%,#44b6d6 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #8ed6e5 0%,#43a8bc 50%,#389cb4 51%,#44b6d6 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed6e5', endColorstr='#44b6d6',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #8ed6e5 0%,#43a8bc 50%,#389cb4 51%,#44b6d6 100%);}
ul.checkoutSteps li.active a {color:#fff;}
ul.checkoutSteps li.passed {background: #eee; }
ul.checkoutSteps li.passed,
ul.checkoutSteps li.passed a {color:#bbb; }
.stepNo {font-weight: bold;}

/* Next Step / Last Step Buttons */
.lineBox { float: left; clear: both; width: 99%; padding: 5px 0.5%; background: #f7f7f7; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.lineBox.top {margin-bottom: 25px;}
.lineBox.bottom {margin: 15px 0 0 0;}
.lineBox form { width: 100%; margin: 0; padding: 0; }
.lineBox button.nextStep { width:auto;float: right; padding: 0 15px 2px 15px; }
.lineBox a.prevStep { float: left; }


/* STEP 1 - Warenkorb */
#basket {margin-bottom: 0;}
.basketitems {}
.#basketFn {}
.basketFunctions {margin: 15px 0 25px 0;}
.summary td {width: 15%;}
.summary th,
.summary td,
.unitprice,
.vat,
.totalprice {text-align: right;}
.quantity input {text-align: center;}
.artTitleNo p {line-height: 1.2em;}
.artNo {font-size: 0.8em;}
.artTitle a {font-weight: bold; text-decoration: none;}
.artTitle a:hover {text-decoration: underline;}
.grandtotal th, .grandtotal td, .totalgross th, .totalgross td {border-bottom-width: 2px;border-top-width: 2px;}
.checkbox {padding-left:0;vertical-align: middle;}
.basketFunctions .submitButton {width:auto;padding: 0 15px 2px 15px; margin-right: 10px;}
#checkAll {margin: 6px 20px 0 0;}
#basketRemove {}
#basketUpdate {}
#basketRemove:hover {}
#basketUpdate:hover {}

/*Geschenkpapier Popup*/

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #000; opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.ui-dialog { position: absolute; padding: .2em; width: 300px;}
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }


.wrappingPopUp.popupBox { text-align: left; display: none; background: #fff; font-size: 12px; padding: 25px; box-shadow: 0px 0px 10px #6D5040; }
.wrappingPopUp.popupBox .closePop { float: right; }

.wrappingIntro img { float: left; margin: 0 15px 15px 0; }

p.introtext { margin: 0 0 15px 0; }

.wrappingPopUp.popupBox a.wrappingProdTitle { font-weight: bold; margin: 0 0 15px 0; display: block; text-decoration: none; font-size: 13px; }

.wrappingData a img { border: 2px solid #ccc; }
.wrappingData a:hover img { border-color: #44B6D6; }

ul.wrappingForm { }
ul.wrappingForm li { width: 100%; border-bottom: 1px solid #ccc; margin: 0; padding: 7px 0; }
ul.wrappingForm li.last { border-bottom: none; }
ul.wrappingForm li label, ul.wrappingCard li label { width: auto; min-width: 120px; cursor: pointer; }
ul.wrappingForm li label span.wrappingTitle {float:left; padding-right: 5px; }
ul.wrappingForm li label span.wrappingPic { float: left; clear: both; display: block; margin: 5px 0 0 0; }

ul.wrappingForm li span.wrappingPrice { font-weight: bold; }

ul.wrappingCard { float: left; clear: both; width: 100%; }
ul.wrappingCard li { float: left; clear: none; margin: 0 15px 15px 0; min-width: 120px; }
span.cardPic { width: 100%; display: block; }

li.wrappingComment textarea {width: 475px; height: 130px; margin:0 0 20px;}

.wrappingPopUp ul.form li.submitForm { width: 100%; margin: 10px 0 0 0; }
.wrappingPopUp ul.form li.submitForm button.submitButton { float: right; }
.wrappingPopUp ul.form li.submitForm button.closePop { float: left; }


/* STEP 2 - Adresse/Login */
.checkoutOptions {float:left; clear:both; width:100%; margin: 0;}
.checkoutOptions.col3 .option {float:left; width: 30%;margin: 0 5% 5% 0; }
.checkoutOptions.col2 .option {float:left; width: 40%;margin: 0 10% 10% 0; }
.checkoutOptions .option.last {margin-right: 0;}
.checkoutOptions .oxValidateError {padding: 0;}
#optionNoRegistration .submitButton, #optionLogin .submitButton, #optionRegistration .submitButton {position:absolute; bottom: 20px; right:20px;}
#optionNoRegistration, #optionLogin, #optionRegistration {position:relative; min-height:290px;}
#optionRegistration ul {margin: 0 0 10px 20px;}
#optionRegistration li {list-style: disc;margin:0 0 4px 0;}
#optionLogin #forgotPasswordLink {margin-left: 0px;}

#content #addressText ul {margin:0;}
#content #addressText li {list-style: none; margin: 0;}
#content #addressText li.billingAddressCountry {margin-bottom: 8px; }
#content #addressText li.billingAddressMail {font-size: .9em;}
#userChangeAddress, #userChangeShippingAddress {}

ul.newslRemark {padding-top:10px; clear: both; }
.orderRemark {padding-top:5px;}
#orderRemark {width:98%;margin-top:5px;}
ul.form .billingNewsletter label,
ul.form .orderRemark label {width:auto;}


/* STEP 3 - Versand-/Zahlungsart */
#deliveryHeader, #payment {margin-top: 25px;}
#payment dl { width: 48%; float: left; clear: both; margin: 0 0 10px 0; padding: 1%; background: #eee; }
#payment dl dt,
#payment dl dd { width: 100%; float: left; clear: both; margin: 0; }
#payment dl dd { display: none; margin: 0 0 0 23px; }
#payment dl dd.activePayment { display: block; }
#payment dl dd .desc { width: 100%; float: left; clear: both; }
#paymentBackStepBottom {float: left;}
#payment dl ul.form {padding: 10px 0 0 0; float: left; clear: both;}
#payment .lineBox {margin-top:25px;}


/* STEP 4 - Ueberpruefen */
.basketContent {margin-bottom: 15px;}
h3.checkoutHead a.submitButton, h3.blockHead .submitButton { margin: 0 0 0 15px; font-size: 0.7em; float: right; }
#orderAddress,
#orderShippingPayment {float: left; clear: both; width: 100%;margin-bottom: 25px;}
#orderAddress {width:98%; padding: 1%; background: #eee;}
.orderBillingAddress,
.orderShippingAddress,
.orderMessage {float:left; width: 32%; margin-bottom: 15px;}
.orderBillingAddress,
.orderShippingAddress {margin-right: 2%;}
#orderAddress dt {font-weight: bold; font-size: 1.05em;}
.orderMessage span {font-weight: bold;display: block;}
#orderShipping,
#orderPayment {float:right; width: 46%; padding: 1%; background: #eee;}
#orderShipping {float:left;}
#orderShippingPayment h3 {margin-bottom: 0px;}
.agb input {float: left;}
.agb p {clear:none;width:auto;}

/* Checkout AGB conditions links */
div.agbInner { width:700px; float:left; margin-top: 6px;}
div.agbButton  { float:right;}
#checkAgb { margin-top:0 !important; }
p.agbError { color: #990000; display: none; margin: 0px; }


/* STEP 5 - Thank You! */
#thankyouPage {float:left; clear: both; width: 100%; margin-top: 15px;}
.checkoutHead {margin-top:15px;}
